{% extends "base.html" %}
{% set title = "Help" %}
{% block content %}

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title mb-2">Instructions</h4>
        <h5 class="card-subtitle mb-2">1. Create user</h5>
        <p class="card-text">
            First thing as a new user is to register a profile for the app. Profile menu can be found on right side of menu bar. After creating your user you will have to login. After that you have access to the app.
        </p>
        <h6 class="card-subtitle mb-2 text-muted">Why login?</h6>
        <p class="card-text">
            Logging in is important for user safety and ease of use. It allows you to keep your projects and clients to yourself, but also makes using the app easier when you only have your personal projects and companies to manage.
        </p>
        <h5 class="card-subtitle mb-2">2. Create a company</h5>
        <p class="card-text">
            Before creating projects you must create a client company. In case you are using the app for schoolwork, you can think of this as the course. To create a new company, go to "App" and choose "New Company." Companies are bound to users, so other users can't see companies created by you.
        </p>
        <h5 class="card-subtitle mb-2">3. Create a project</h5>
        <p class="card-text">
            Now projects can be created by choosing "New Project" from menu bar. There are 3 different creation buttons. You can create projects and start timing it right away.
            You can also create projects without starting them. This can be used to create a TODO list of active projects. Third option is creating a project and finishing it right away.
            This can be used when you know the project will take less than the minimum time, or if you have already done the project without timing it. Project will be finished with minimum time specified by worktype in this case.
        </p>
        <h6 class="card-subtitle mb-2 text-muted">Worktypes</h6>
        <p class="card-text">
            Worktypes are used for rounding project times when you finish project. Hours are often rounded to the next half hour, and sometimes there are separate minimum times. There are 3 premade worktypes.
            Default: rounding to next full 30 min, minimum time 30 min and price 20 €/h.
            Short task: rounding to next full minute, minimum time 10 minutes and price 30 €/h.
            Free: rounding to next full minute, minimum time 1 minute and price 0 €/h.
            Worktype prices will be used to calculate project prices, which is yet to be implemented. Worktypes can be created by users, but created worktypes will be public to all users.
        </p>
        <h5 class="card-subtitle mb-2">4. Timing projects</h5>
        <p class="card-text">
            Projects will be timed by using start/pause and stop buttons. Start button will change into a pause button when pressed. Pausing does not round saved time at all, but stop will round the time according to selected worktype.
            When you are done with a project, you can click the red "stop" button. Total time will be rounded according to worktype, and the project will be set finished. Finished projects can be found behind the link below the list of active projects.
        </p>
        <h5 class="card-subtitle mb-2">5. Editing and commenting</h5>
        <p class="card-text">
            Project can be edited by clicking the edit button marked with a pencil icon. You can add a comment for example to take notes on progress. You can also rename the project, change worktype and change client company. There are buttons to easily move project time to next or previous rounding step.
            You can also view all entries for that project. You can see when you have worked on a project and for how long. Entries can also be edited in case of mistakes when timing etc. You can change start/end times and edit comments. Entries can also be deleted here one-by-one. Projects can also be deleted from editing view, and this also deletes all entries for that project.
            Keep in mind, that rounding entries can not be edited, only deleted. Deleting a rounding entry also automatically sets project to active state. Also empty time fields can't be edited, so if you want to set a project end time manually, you need to first pause the project.
        </p>
        <h5 class="card-subtitle mb-2">6. Deleting account</h5>
        <p class="card-text">
            You can go to user edit page by clicking the user icon in top right corner. On the edit page, you can delete your account, which also deletes all of your account data. The deletion is permanent, and if you wish to start using the app again, you must register again.
        </p>
        <h5 class="card-subtitle mb-2">Any feedback or problems can be submitted as github issues:</h5>
        <a href="https://github.com/Capslock01/project-manager" class="card-link">GitHub</a>
    </div>
</div>

{% endblock %}