{% extends "base.html" %}
{% set title = "Help" %}
{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Instructions</h5>
        <p class="card-text">The app requires users to create a user and log in. This is necessary to make managed projects saveable and private. For bugs please report an issue to the GitHub link below.</p>
        <a href="https://github.com/Capslock01/project-manager" class="card-link">GitHub</a>
    </div>
</div>

{% endblock %}