{% extends "base.html" %}
{% block messages %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endblock %}

{% block navbar_addon %}
<li class="nav-item">
    <a class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#newProject" aria-expanded="false" aria-controls="newProject">New Project</a>
</li>
<li class="nav-item">
    <a class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#newCompany" aria-expanded="false" aria-controls="newClient">New Company</a>
</li>
<li class="nav-item">
    <a class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#startCall" aria-expanded="false" aria-controls="startCall">Start Call</a>
</li>
{% endblock %}

{% block content %}
<div class="container" id="switchPanels">
    <div class="collapse" id="newProject" data-bs-parent="#switchPanels">
        <h3>New Project</h3>
        <form>
            <div class="col my-3 mx-1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" minlength="3" autofocus>
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="col-xl mx-1">
                <select class="form-select mb-3" aria-label="Select worktype">
                    <option selected value="0">Default work</option>
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                </select>
                <select class="form-select mb-3" aria-label="Select client">
                    <option selected value="0">None</option>
                    <option value="1">Company 1</option>
                    <option value="2">Company 2</option>
                    <option value="3">Company 3</option>
                </select>
            </div>
            <div class="col-md mx-1 mb-3">
                <button class="btn btn-primary" type="button">Create</button>
                <button class="btn btn-outline-primary" type="button">Create and start</button>
                <button class="btn btn-outline-primary" type="button">Create and finish</button>
                <button class="btn btn-outline-danger" type="button">Cancel</button>
            </div>
        </form>
    </div>
    <div class="collapse" id="newCompany" data-bs-parent="#switchPanels">
        <h3>New Company</h3>
        <form>
            <div class="col my-3 mx-1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" minlength="3" autofocus>
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="col-md mx-1 mb-3">
                <button class="btn btn-primary" type="button">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-hover" id="mainTable">
        <thead class="table-dark">
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Company</th>
                <th scope="col">Time</th>
                <th scope="col" style="text-align:right">Controls</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button class="btn btn-outline-dark btn-sm mx-1" data-bs-toggle="collapse" data-bs-target="#project1" aria-expanded="false" aria-controls="project1"><i class="bi bi-list"></i></button>
                    Project 1
                </td>
                <td>Yritys oy</td>
                <td>30 h</td>
                <td style="text-align:right">
                    <button class="btn btn-outline-success btn-sm"><i class="bi bi-play-circle"></i></button>
                    <button class="btn btn-outline-danger btn-sm"><i class="bi bi-stop-circle"></i></button>
                </td>
            </tr>
            <tr>
                <td class="collapse" data-bs-parent="#mainTable" id="project1" colspan="4">
                    <div class="card">
                        <div class="card-body">
                            Here goes manual editing stuff and input for session comments.
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}