{% extends "base.html" %}
{% set title = 'New company' %}
{% block messages %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endblock %}

{% block content %}
<form method="post">
    <div class="col my-3 mx-1">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="company_name" placeholder="Name" minlength="3" autofocus required>
            <label for="name">Name</label>
            <div id="name" class="form-text">
                Name must be 4-128 characters. Allowed characters are numbers, all lower and uppercase letters and special characters ._- and space.
            </div>
        </div>
    </div>
    <div class="col-md mx-1 mb-3">
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-outline-danger" type="button" href="{{ url_for('manager') }}">Cancel</a>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
