{% extends "base.html" %}
{% set title = 'New project' %}
{% block messages %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endblock %}

{% block navbar_addon %}
<li class="nav-item">
    <a class="nav-link" type="button" href="{{ url_for('new_project') }}">New Project</a>
</li>
<li class="nav-item">
    <a class="nav-link" type="button" href="{{ url_for('new_company') }}">New Company</a>
</li>
{% endblock %}

{% block content %}
<form method="post" action="">
    <div class="col my-3 mx-1">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="project_name" placeholder="Name" minlength="4" aria-label="Type project name" autofocus>
            <label for="name">Name</label>
            <div id="name" class="form-text">
                Name must be 4-128 characters. Allowed characters are numbers, all lower and uppercase letters, special characters ._-# and space.
            </div>
        </div>
    </div>
    <div class="col-xl mx-1">
        <select class="form-select mb-3" aria-label="Select worktype" name="worktype">
            {% for worktype in worktypes %}
            {% if worktype[0] == 0 %}
            <option selected value="{{ worktype[0] }}">{{ worktype[1] }} {{ worktype[2] }} €/h</option>
            {% else %}
            <option value="{{ worktype[0] }}">{{ worktype[1] }} {{ worktype[2] }} €/h</option>
            {% endif %}
            {% endfor %}
        </select>
        <select class="form-select mb-3" aria-label="Select client" name="company">
            <option selected value="0">--select company--</option>
            {% for company in companies %}
            <option value="{{ company[0] }}">{{ company[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md mx-1 mb-3">
        <button class="btn btn-primary" type="submit" name="action" value="create">Create</button>
        <button class="btn btn-outline-primary" type="submit" name="action" value="start">Create and start</button>
        <button class="btn btn-outline-primary" type="submit" name="action" value="finish">Create and finish</button>
        <a class="btn btn-outline-danger" type="button" href="{{ url_for('manager') }}">Cancel</a>
    </div>
</form>
{% endblock %}