{% extends "base.html" %}
{% set title = 'Edit project' %}
{% block messages %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endblock %}

{% block navbar_addon %}
<li class="nav-item">
    <a class="nav-link" type="button" href="{{ url_for('new_project') }}">New Project</a>
</li>
<li class="nav-item">
    <a class="nav-link" type="button" href="{{ url_for('new_company') }}">New Company</a>
</li>
<li class="nav-item">
    <a class="nav-link" type="button" href="{{ url_for('new_worktype') }}">New Worktype</a>
</li>
{% endblock %}

{% block content %}
<h5>{{ project[1] }}</h5>
<form method="post" action="">
    <div class="col my-3 mx-1">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="project_name" placeholder="" minlength="4" aria-label="Rename project">
            <label for="name">Rename</label>
            <div id="name" class="form-text">
                Leave empty to use same as before. Name must be 4-128 characters. Allowed characters are numbers, all lower and uppercase letters and special characters ._-# and space.
            </div>
        </div>
    </div>
    <div class="col my-3 mx-1">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="comment" name="comment" placeholder="" minlength="4" aria-label="Comment">
            <label for="comment">Comment</label>
            <div id="comment" class="form-text">
                Comment must be 4-256 characters. Allowed characters are numbers, all lower and uppercase letters and special characters ._-# and space.
            </div>
        </div>
    </div>
    
    <div class="col-xl mx-1">
        <select class="form-select mb-3" aria-label="Select worktype" name="worktype">
            {% for worktype in worktypes %}
            {% if worktype[0] == project[4] %}
            <option selected value="{{ worktype[0] }}">{{ worktype[1] }} {{ worktype[2] }} €/h</option>
            {% else %}
            <option value="{{ worktype[0] }}">{{ worktype[1] }} {{ worktype[2] }} €/h</option>
            {% endif %}
            {% endfor %}
        </select>
        <select class="form-select mb-3" aria-label="Select client" name="company">
            {% for company in companies %}
            {% if company[0] == project[3] %}
            <option selected value="{{ company[0] }}">{{ company[1] }}</option>
            {% else %}
            <option value="{{ company[0] }}">{{ company[1] }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-hover" id="mainTable">
            <thead class="table-dark">
                <tr>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">Total</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% if not entries %}
            <tr>
                <td colspan="4">
                    Project does not have any entries yet.
                </td>
            </tr>
            {% else %}
            {% for entry in entries %}
            
            <tr>
                <td>
                    <a class="btn btn-outline-dark btn-sm mx-1" role="button" href="{{ url_for('edit_entry', eid = entry[4]) }}"><i class="bi bi-pencil"></i></a>
                    {{ entry[0] }}
                </td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2]|timeformat }}</td>
                {% if entry[3] %}
                <td>{{ entry[3] }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class="col-md mx-1 mb-3">
    <button class="btn btn-primary" type="submit" name="action" value="save">Save</button>
    <a class="btn btn-outline-danger" type="button" href="{{ url_for('manager') }}">Cancel</a>
    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3"></i></button>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete project "{{ project[1] }}"?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deleting project also deletes <b>all data</b> related to it. Are you sure you want to delete project "{{ project[1] }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit" name="action" value="delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}