{% extends "base.html" %}
{% set title = "Create new user" %}

{% block messages %}{% endblock %}

{% block content %}

<form method="post">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" name="username" placeholder="username" minlength="3" required autofocus>
        <label for="username">Username</label>
        <div id="username" class="form-text">
            Username must be 3-32 characters. Allowed characters are numbers, all lower and uppercase letters and punctuation characters ._- However, username can't begin or end with with punctuation, and there can only be one consecutive punctuation character.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" value="" placeholder="password" minlength="10" required>
        <label for="password">Password</label>
        <div id="username" class="form-text">
            Password must be 10 or more characters.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="repeat_pw" name="repeat_pw" value="" placeholder="repeatpassword" minlength="10" required>
        <label for="repeat_pw">Repeat password</label>
    </div>
    <div class="col-md">
        <button class="btn btn-primary" type="submit" value="">Register</button>
    </div>
</form>
{% endblock %}